@import "./variables";

.footer {
	position: relative;
	overflow: hidden;
	min-height: 575px;
	padding: 85px 8rem 0 8rem;
	background: rgba(0, 0, 0, 0.9) wp_url("/assets/office-stock.jpg") center
		no-repeat;
	background-blend-mode: darken;
	background-size: cover;
	color: #fff;

	@media (max-width: $x-small) {
		padding: 2rem;
	}

	&__header {
		@include page-header();
		color: #9f9f9f;
		text-align: center;
		margin-bottom: 100px;

		@media (max-width: $x-small) {
			font-size: 2.5rem;
		}
	}

	&__contact-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, 260px);
		justify-content: space-between;
		grid-gap: 5rem;
		max-width: 1200px;
		margin: auto;

		@media (max-width: $medium) {
			justify-content: center;
		}
	}

	&__grid-item {
		display: flex;

		i {
			font-size: 3rem;
			margin-right: 1.5rem;
			opacity: 0.5;
		}

		a {
			text-decoration: none;
			color: #fff;

			&:hover {
				text-decoration: underline;
			}
		}

		strong {
			margin-bottom: 0.5rem;
		}

		.col--left {
			display: flex;
			flex-flow: column;
		}
	}

	&__social-and-cp {
		width: 65%;
		margin: 100px auto 45px auto;
		position: relative;
		z-index: 1;

		@media (max-width: $x-small) {
			width: 90%;
		}

		i {
			font-size: 1.5rem;
			cursor: pointer;
			transition: color 0.3s ease;

			&:hover {
				color: $red;
			}
		}

		hr {
			margin: 1.5rem 0;
		}

		.socials {
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
			padding: 0 6rem;

			@media (max-width: $medium) {
				padding: 0;
			}
		}

		.copyrights {
			text-align: center;
		}
	}
}
