@import "./variables";

.section-2 {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 620px;
	position: relative;
	background: wp_url("/assets/section-2-bg.png") no-repeat center;
	background-size: cover;
	padding: 2rem;

	@media (max-width: $medium) {
		background: none;
	}

	@media (max-width: $x-small) {
		flex-flow: column;
		justify-content: center;
		align-items: center;
		padding: 1rem 0;
		text-align: center;
		margin-top: 2rem;
	}

	&__triangle {
		position: absolute;
	}

	&__leftside {
		display: flex;
		align-items: center;
		width: 50%;
		height: 100%;

		@media (max-width: $x-small) {
			order: 2;
		}
	}

	&__text {
		max-width: 500px;
	}

	&__title {
		@include page-header();

		@media (max-width: $medium) {
			font-size: 3.6rem;
		}

		@media (max-width: $small) {
			font-size: 2rem;
		}

		@media (max-width: $x-small) {
			margin: 2rem 0;
			font-size: 2rem;
		}
	}

	&__description {
		margin: 5rem 0;
		font-size: 1.2rem;
		line-height: 1.5;
		color: #737373;

		@media (max-width: $small) {
			margin: 2rem 0;
			font-size: 1rem;
		}
	}

	&__macbook {
		background: wp_url("/assets/macbook.png") no-repeat center;
		@include fluid-transition("width", 500, 737, 1920, 992);
		height: 100%;
		background-size: contain;

		@media (max-width: $x-small) {
			order: 1;
		}
	}
}
