@import "./variables";

.triangle-1 {
	position: absolute;
	top: 50%;
	width: 0;
	height: 0;
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;
	border-left: 60px solid $light-red;
	z-index: 0;
}

.triangle-2 {
	width: 0;
	height: 0;
	border-top: 400px solid transparent;
	border-bottom: 400px solid transparent;
	border-right: 400px solid $light-red;
	position: absolute;
	top: 45%;
	right: 0;

	@media (max-width: $medium) {
		@include fluid-transition("border-top-width", 250, 400, 992, 768);
		@include fluid-transition("border-bottom-width", 250, 400, 992, 768);
		@include fluid-transition("border-right-width", 250, 400, 992, 768);

		border-top-style: solid;
		border-top-color: transparent;
		border-bottom-style: solid;
		border-bottom-color: transparent;
		border-right-style: solid;
		border-right-color: $light-red;
	}
}

.triangle-3 {
	position: absolute;
	top: 53%;
	width: 0;
	height: 0;
	border-top: 180px solid transparent;
	border-bottom: 180px solid transparent;
	border-left: 180px solid $dark;
	z-index: 0;

	@media (max-width: $small) {
		display: none;
	}
}

.triangle-4 {
	width: 0;
	height: 0;

	@include fluid-transition("border-top-width", 250, 450, 1920, 992);
	@include fluid-transition("border-bottom-width", 250, 450, 1920, 992);
	@include fluid-transition("border-left-width", 250, 450, 1920, 992);

	border-top-style: solid;
	border-top-color: transparent;
	border-bottom-style: solid;
	border-bottom-color: transparent;
	border-left-style: solid;
	border-left-color: $light-red;

	position: absolute;
	bottom: 10%;
	left: 0;
	z-index: 0;
}

.triangle-5 {
	width: 0;
	height: 0;
	border-right: 100px solid transparent;
	border-left: 100px solid transparent;
	border-bottom: 100px solid $light-red;
	position: absolute;
	bottom: 0;
	right: -30px;
}

.triangle-6 {
	width: 0;
	height: 0;
	border-right: 0px solid transparent;
	border-left: 300px solid transparent;
	border-top: 300px solid $dark;
	position: absolute;
	top: 0;
	right: -20vw;

	@media (max-width: $small) {
		display: none;
	}
}
